$warm-Dark-Gold  : #A87B4F;
$bg-color        :#dbc49b;
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: $bg-color;
}
::-webkit-scrollbar-thumb {
    background: $warm-Dark-Gold; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
